$font-large: 2rem;
$font-medium: 1.2rem;
$font-small: .9rem;
$theme-pink: #ff5cad;
$white: #eeeeee;
$black: #1f1f1f;
$border: 1px solid $white;

/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*HomePage Centered Logo*/
  
.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.centered-container-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}


.main-logo {
    font-family: 'Fredoka One', cursive;
    color: $theme-pink;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 1vw #ff2190, 0 0 1.5vw #ff42a0, .5vw .5vw .1vw #a00f63;
    animation: mainlogo 4s linear infinite;
    -moz-animation: mainlogo 2s linear infinite;
    -webkit-animation: mainlogo 2s linear infinite;
    -o-animation: mainlogo 2s linear infinite;
}
  
/*universal styles*/

body {
    background-color: $black;
    color: $white;
    font-family: 'Roboto', sans-serif;
}


.button {
    border: $border;
    width: 100px;
    background-color: $black;
    color: $white;
    border-radius: 3px;
}

.button:hover {
    background-color: $white;
    color: $black;
}

.important-button {
    border: $border;
    box-shadow: 0px 0px 7px 1px $white;
    background-color: $theme-pink;
    color: $white;
    border-radius: 3px;
    font-weight: 600;
    font-size: $font-medium;
    transition: box-shadow 200ms;
}

.important-button:hover {
    box-shadow: 0px 0px 10px 2px $white, 0px 0px 15px 4px $theme-pink;
}



//***********************************//
//********** SIGN UP MODAL **********//
//***********************************//

.modal-header {
    border: none;
    padding: 0;
}

.modal-header .close {
    color: $white;
    line-height: normal;
    opacity: 1;
}

.close span {
    padding: 10px;
}

.modal-content {
    background-color: $black;
    border: $border;
    border-radius: 10px;
}

.modal-body {
    width: 90%;
    margin: auto;
    padding: 0;
}

.modal-body-container {
    width: 80%;
    margin: auto;
}

.modal-body .underline-input {
    width: 100%;
    margin: 10px 0;
}

.modal-body .underline-input::placeholder {
    color: $white;
}

#contained-modal-title-vcenter {
    margin-left: 30%;
}

input[type="color"] {
    width: 50px;
    color: $black;
    background-color: $black;
    height: 45px;
    padding: 0 !important;
    outline: none !important;
    border: none !important;
}

input[type="color"]:hover {
    cursor: pointer;
}

p {
    padding: 0;
    margin: 0;
}

.smaller-p {
    font-size: .8rem;
    font-style: italic;
}

.p-container {
    margin: 15px 0;
}

#color-preference-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form-footer {
    text-align: center;
    margin: 30px 0 30px 0;
}

.face-chart-container {
    display: flex;
    justify-content: space-between;
}

.facechart {
    width: 13vw;
    height: 13vw;
    border-radius: 3%;
    cursor: pointer;
}

.selected-chart {
    box-shadow: 0px 0px 2px 1px $white, 0px 0px 5px 3px $theme-pink, 0px 0px 5px 3px $theme-pink;
}


//**********************************//
//**********     NAV      **********//
//**********************************//

nav {
    height: 100%;
    width: 230px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 25px 0;
    margin: 0;
    background-color: rgb(245, 245, 245);
    box-shadow: 5px 0px 5px 0px rgba(255, 92, 174, 0.781);
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: $font-medium;
    font-weight: 500;
}

nav ul a {
    color: $black;
}

nav ul a:hover {
    text-decoration: none;
    color: $theme-pink
}

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: $black;
    cursor: pointer;
}

.logo {
    font-family: 'Fredoka One', cursive;
    font-size: 3rem;
    color: $theme-pink;
    text-shadow: 3px 2px 6px #99004d, 3px 2px 6px #d6016b, 3px 2px 6px #ff0381;
}

.logo:hover {
    text-shadow: 3px 2px 3px #99004d, 3px 2px 3px #d6016b, 3px 2px 3px #ff0381;


}

.logout {
    font-size: $font-small;
}

.new-look {
    text-shadow: 0px 0px 10px $theme-pink, 0px 0px 15px $theme-pink, 0px 0px 15px $theme-pink, 0px 0px 20px $theme-pink, 0px 0px 25px $theme-pink;
}


//**********************************//
//**********     MAIN     **********//
//**********************************//

main {
    margin-left: 230px;
    // padding: 20px;
    z-index: 20;
}



//**********************************//
//**********  LOOK FORM  **********//
//**********************************//

#look-form-container {
    border: $border;
    padding: 30px;
    overflow: hidden;
    width: 70%;
    margin: 3rem auto;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 6px 1px $white;
}

#look-form {
    width: 70%;
    margin: 0 auto;
}

.form-canvas-container {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.underline-input {
    height: 25px;
    border: none;
    background-color: transparent;
    color: $white;
    text-align: left;
    border-bottom: $border;
}

.brush-input {
    width: 55px;
    text-align: center;
}

.top-input::placeholder{
    color:$white;
}

.description {
    height: 100px;
    border: $border;
    background-color: $black;
    color: $white;
    text-align: left;
    border-radius: 5px;
    margin-top: 30px !important;
}

.top-input {
    width: 100%;
    font-size: $font-medium;
}

.hue-horizontal div {
    margin: 0 !important;
}

.color-picker {
    width: 98.5% !important;
    margin: 7px auto !important;
    border-radius: 3px;
}


.opacity {
    background-color: $white;
}   

#clear-undo-container {
    display: flex;
    justify-content: space-around;
}

#clear-undo-container button {
    background: none!important;
    border: none;
    background-color: $black;
}

#clear {
    width: 50px;
}


#undo {
    width: 42px;
}

#add-swatch {
    background: none!important;
    border: none;
    background-color: $black; 
    padding: 0 !important;
    color: $white;
    width: 30px;
}


.sketch-label {
    margin-top: 20px;
    font-size: 1.3rem;
}

.color-label {
    font-size: 1.3rem;
}

#sketch-container {
    border: $border;
    border-radius: 10px;
    overflow: hidden;
}

#color-story-container {
    display: flex;
    justify-content: space-between;
}


//**********************************//
//**********     FEED     **********//
//**********************************//

#feed-container {
    width: 65%;
    margin: auto;
    padding-top: 2rem;
}

#feed-container #search {
    width: 70%;
    line-height: initial;
    height: 48px;
    border-radius: 7px;
    border: $border;
    background-color: $black;
    color: $theme-pink;
    font-size: $font-medium;
    padding-left: 10px;
    box-shadow: 0px 0px 6px 1px $white;
    font-weight: 600;
}

#feed-container #filter {
    width: 30%;
    height: 48px;
    border-radius: 7px;
    border: $border;
    background-color: $black;
    color: $theme-pink;
    font-size: $font-medium;
    padding-left: 10px;
    box-shadow: 0px 0px 6px 1px $white;
    font-weight: 600;
}

#feed-container #search::placeholder {
    color: $theme-pink;
}



//**********************************//
//**********  LOOK FORM  **********//
//**********************************//

.look-card {
    border: $border;
    margin: 3rem 0;
    border-radius: 10px;
    padding: 30px 30px 20px 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 6px 1px $white;
}

.look-name {
    font-size: $font-large;
}

.look-description {
    font-size: $font-medium;
    line-height: 1.2;
    margin: 1rem 1rem 1rem 0;
    overflow: scroll;
}

.left-column, .right-column  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mark-completed {
    font-size: $font-medium;
    text-align: right;
    margin-top: 10px;
}

.mark-completed svg {
    cursor: pointer;
    font-size: 1.6rem;
    margin-left: 10px;
    border-radius: 50%;
}

.disabled-canvas-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.disabled-canvas {
    overflow: hidden;
    position: relative;
}

.disabled-canvas, .disabled-canvas > * {
    border-radius: 10px;
}

.color-story-label {
    font-weight: 600;
    font-size: $font-medium
}

.edit-button {
    border: none;
    background-color: $black;
    vertical-align: middle;
    color: $white;
    font-size: 1.5rem;
    margin-left: .5rem;
}
.delete-button {
    background-color: white;
    color: $black;
    font-size: 1.5rem;
    border: none;
}



/*PROFILE*/

.profile-container {
    width: 50%;
    margin: 0 auto;
    font-size: $font-medium;
}

.profile-container .underline-input {
    width: 100%;
}

#profile-background-selector {
    display: flex;
    justify-content: space-between;
}

#profile-background-selector p {
    align-self: center;
}

.profile-container #button-container {
    text-align: center;
    margin-top: 2.5rem;
}

.profile-container * {
    margin: 7px 0;
}

#username {
    margin: 7rem 0 3rem 0;
    text-shadow: 0px 0px 10px $theme-pink, 0px 0px 15px $theme-pink, 0px 0px 20px $theme-pink, 0px 0px 25px $theme-pink;
}


//**********************************//
//***********   LOADER   ***********//
//**********************************//

.spinner {
    width: 70px;
    text-align: center;
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: $theme-pink;
    box-shadow: 0px 0px 10px 2px $theme-pink;
    border-radius: 100%;

    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }



//**********************************//
//********  SPEECH BUBBLE  ********//
//**********************************//

.bubble {
	position: relative;
	background: white;
    border-radius: 1rem;
    padding: 1.5vw;
    margin: 2vw;
    font-size: $font-medium;
    color: $theme-pink;
    box-shadow: 0px 0px 3px 1px white;
}

.bubble a {
    color: rgb(36, 36, 36);
}

.bubble a:hover {
    text-decoration: none;
    color: $theme-pink;
}

.bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 22px solid transparent;
	border-bottom-color: white;
	border-top: 0;
	border-left: 0;
	margin-left: -11px;
    margin-top: -22px;
}

//**********************************//
//******  JELLYFISH ANIMATION ******//
//**********************************//

.jellyfish {
    width: 6rem;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    animation: jelly 2.5s linear infinite;
}

.feed-jellyfish {
    width: 120px;
    filter: drop-shadow(0 0 10px $theme-pink);
    margin-bottom: .5rem;
    margin-right: 1rem;
    animation: jelly 2.5s linear infinite;
}


.jellyfish-main {
    width: 8vw;
    margin-left: 1rem;
    filter: drop-shadow(0 0 10px $theme-pink);
    animation: jelly 2.5s linear infinite;
}

@keyframes jelly {
    0%,
    100% {
        filter: drop-shadow(0 0 .5vw $theme-pink);
        transform: rotate(0deg); 
    }
    75% {
        filter: drop-shadow(0 0 .75vw $theme-pink);
        transform: rotate(-10deg); 
    }
    50% {
        filter: drop-shadow(0 0 .75vw $theme-pink);
        transform: rotate(0deg); 
    }
    25% {
        filter: drop-shadow(0 0 .5vw $theme-pink);
        transform: rotate(10deg)
    }
}


//**********************************//
//********* MEDIA QUERIES *********//
//**********************************//

@media (max-width: 1440px) {

    #feed-container {
        width: 720px;
    }
}

@media (max-width: 992px) { 

    nav {
        height: 11vh;
        width: 100%;
        position: fixed;
        // border-bottom: 2px solid $theme-pink;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 20px;
        margin: 0;
        z-index: 3000
    }

    .main-logo {
        font-size: 13vw;
    }

    #newlook-profile-container {
        display: flex;
    }

    #profile-link {
        margin-left: .5rem;
    }

    nav ul {
        flex-direction: row;
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }

    main {
        width: 100%;
        margin-left: 0;
        margin-top: 11vh;
    }

    .neon-container {
        height: 89vh;
    }

    .logo {
        margin-left: 1rem;
    }

    /*LOOK-CARD*/
    #feed-container {
        width: 600px;
    }

    /*LOOK FORM MEDIA*/
    #look-form-container {
        width: 80%;
    }

    #look-form {
        width: 80%;
    }
}

@media (max-width: 600px) {


    /*LOOK FORM MEDIA*/
    #look-form-container {
        width: 90%;
        border: none;
        border-radius: 0;
        box-shadow: none;
    }

    #look-form {
        width: 100%;
    }

    /*LOOK-CARD*/
    #feed-container {
        width: 500px;
        height: 250px;
    }

    .look-description {
        font-size: 1rem;
    }

    .profile-container {
        width: 90%;
    }
} 

@media (max-width: 425px) {
    .main-logo {
        font-size: 20vw;
    }

    #look-form-container {
        width: 100%;
    }
    
    #look-form {
        width: 100%;
    }

    nav {
        padding: 10px;
    }

    .logo {
        font-size: 1.9rem;
        margin: 0;
    }

    nav ul {
        font-size: .9rem;
    }

    
    .link-button {
        font-size: .7rem;
    }
}

@media (min-width: 1441px) {
    .look-description {
        font-size: 2rem;
    }

    #feed-container {
        width: 1200px;
    }

    #look-form-container {
        width: 60%;
        margin: 1rem auto;
    }

    #look-form {
        width: 600px;
    }
}